html {
    font-family: 'Calibri', sans-serif;
    font-size: 16px;

    overflow-x: hidden;
    background-color: rgba(208, 41, 41, 1);
    
}

body {
    width: 100%;
}

h1{
	color: white;
	font-size: 6em;
	text-align: center;
	margin-top: 10px;
	margin-bottom:10px;
	font-family: Trebuchet, sans-serif;
}

h3{
    font-size: 1.7em;
    font-family: Trebuchet, sans-serif
}

p {
    font-size: 0.9em;
}

#top{
	border-top: black solid 2px;
	margin-top: 30px;
}

 .filler{
    flex-grow:2;
    flex-basis: 0;
    margin: 0; 
    padding:10px;
} 

.top{
    flex-grow:7;
    flex-basis: 0;
    margin: 0;
    padding:10px;
}

.heading{
	flex-grow:10;
    flex-basis: 0;

}

.container{
    width:90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: flex-end;
    border-bottom: solid 2px; 
    /*border-top: solid 5px; */
    padding-top: 15px;
    padding-bottom: 15px;
}

.item{
    flex-grow:2;
    flex-basis: 0;
    margin: 0; 
    padding:10px;

}

.title{
    flex-grow:3;
    flex-basis: 0;
    margin: 0;
    padding:10px;

}

.container:last-of-type{
	margin-bottom: 30px;
}


@media (max-width: 930px){
	h1{
	font-size: 5em;
}
}

@media(max-width:600px){
.item:nth-of-type(1){
	display: none;
}

.top{
    flex-basis: 100%;
}

h3{
	font-size: 1.5em;
}
}

@media (max-width: 450px){
    .title{
    flex-basis: 100%;
    order:-1;

}
.item:nth-of-type(1){
	display: block;
}

.item{
    flex-grow:2;
    flex-basis: 100%;
}

.top{
    flex-grow:7;
    flex-basis: 100%;
    margin: 0;
    padding:10px;
}
}
